
.header{
    background-color:#000000;
    width:100%;
    height:60px;
}

.login a{
    border:1px solid #CF2923;
    border-radius:12px;
    list-style:none;
    text-decoration: none;
    color:white;
    background-color:#CF2923;
    line-height:60px;
    border-width:10px;
}  

.listflim a{
    text-decoration: none;
    color:white;
    line-height:60px;
}
.page a{
    text-decoration: none;
    line-height:60px;
    color:red;
}