
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 60%;
    margin-left: 50%;
    background: #363333;
    color: #fff;
}
.contai{
    width: 100%;
    height: 100%;
    background: #111111;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
    font-family: 'SFProDisplay-Bold';
    font-size: 22px;

}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    background: #363333;
    
}
.justify-content-center{
    margin-top: 150px;
}
#email{
    height: 40px;
    width: 100%;    
    margin-left: -22%;
    margin-top: 20px;
}
#password{
    height: 40px;
    width: 100%;    
    margin-left: -22%;
}
.login >.btn-primary {
    margin-top: 20px;
    background: #FF6400;
    height: 40px;
    width: 73%;
    margin-left: 39%;
}
.forgot{
    margin-left: 33%;

}
.forgot a{
    color:white;
    text-decoration: :none;

}
.form-check-label{
    margin-left: 37%;

}